---
layout: 'layouts/wiki.njk'
breadcrumb: 'TitleIndex'
eleventyImport: 
  collections: ['wiki']
---

<p>jQuery UI issues have moved to <a href="https://github.com/jquery/jquery-ui/issues">GitHub</a>. This site is now a static version of the old Trac bugs site. Version history for wiki pages is no longer available.</p>

<p>Below is an index of all the wiki pages that were available on the old site.</p>

<div class="flex-column">
  {% for wiki in collections.wiki %}
    <a href="{{ wiki.url }}" class="wiki-index-link">{{ wiki.data.title }}</a>
  {% endfor %}
</div>
